/* Button style */
.clicky {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: #30a4da;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;

  border-radius: 27px;
  width: fit-content;
}

.clicky:hover {
  background: #f089cf;
}

.clicky:focus {
  /* outline: 1px solid #fff; */
  /* outline-offset: -4px; */
  outline: none;
  background: #30a4da;
}

.clicky:active {
  /* transform: scale(0.99); */
}

/* ----------------------------------------- */
.blocks {
  /* display: flex; */
  height: 50%;
}

.block--button {
  width: 100%;
}

.block--img {
  width: 100%;
  display: none;
}

.block--button,
.block--img {
  height: 100%;
  position: relative;
}

.image {
  display: block;
  width: 100%;
  display: none;
}

.result {
  width: 100%;
  height: 100%;
}

.clicky {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.result img {
  width: 100%;
  display: block;
}

.result {
  display: none;
}

@media (min-width: 480px) {
  .blocks {
    display: flex;
    flex-direction: row-reverse;
    height: 100%;
  }
  .block--img {
    width: 30%;
  }
  .image,
  .result img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .result img {
    width: unset;
  }
}

.show {
  display: block;
}

.hide {
  display: none;
}