.clicky {
  font-size: 30px;
}

.blocks {
  display: flex;
}

.block--button {
  width: 70%;
}

.block--img {
  width: 30%
}

.block--button,
.block--img {
  height: 100vh;
  position: relative;
}

img {
  display: block;
  width: 100%;
}

.clicky,
img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}